<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Football Simulator</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/img/wactfavicon.png">
  </head>
  <body>
    <wact-nav>
      <img src="/img/wactlogo.jpg">
    </wact-nav>
    <div id="main-wrapper">
      <wact-game-sim></wact-game-sim>
    </div>
    <script type="module" src="/js/client.js"></script>
  </body>
</html>
