name: Build

on:
  push:
    branches: '**'
  release:
    types: [published]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
    - name: Build TypeScript
      run: make build
    - name: Get package version
      run: |
        # Get the package version from package.json
        echo "[INFO] Getting node package version from package.json"
        NODE_PACKAGE_VERSION=$(cat package.json | jq -r .version)
        echo "[DEBU] Package version: ${NODE_PACKAGE_VERSION}"
        echo "NODE_PACKAGE_VERSION=${NODE_PACKAGE_VERSION}" >> $GITHUB_ENV

        # Generate a pre-release timestamp
        PRERELEASE_TIMESTAMP=$(date +'%Y%m%d%H%M%S')
        echo "[DEBU] Pre-release timestamp: ${PRERELEASE_TIMESTAMP}"
        echo "PRERELEASE_TIMESTAMP=${PRERELEASE_TIMESTAMP}" >> $GITHUB_ENV
    - name: Set pre-release tag
      if: github.event_name != 'release' || (github.event_name == 'release' && github.event.release.prerelease == true)
      run: |
        # Export the tag as a pre-release version
        IMAGE_TAG="v${NODE_PACKAGE_VERSION}-${PRERELEASE_TIMESTAMP}"
        echo "[DEBU] Pre-release tag: ${IMAGE_TAG}"
        echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
    - name: Set release tag
      if: github.event_name == 'release' && github.event.release.prerelease == false
      run: |
        # Export the tag as a release version
        IMAGE_TAG="v${NODE_PACKAGE_VERSION}"
        echo "[DEBU] Release tag: ${IMAGE_TAG}"
        echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
    - name: Build fbsim-web image
      run: |
        echo "[INFO] Building ghcr.io/whatsacomputertho/fbsim-web:${IMAGE_TAG}"
        docker build . \
          -f Containerfile \
          --tag ghcr.io/whatsacomputertho/fbsim-web:${IMAGE_TAG}
    - name: Push fbsim-web image
      if: (github.event_name != 'pull_request') && (startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/heads/release') || github.event_name == 'release')
      run: |
        echo "[INFO] Pushing ghcr.io/whatsacomputertho/fbsim-web:${IMAGE_TAG}"
        docker login \
          -u whatsacomputertho \
          -p ${{ secrets.GITHUB_TOKEN }} \
          ghcr.io/whatsacomputertho
        docker push \
          ghcr.io/whatsacomputertho/fbsim-web:${IMAGE_TAG}
